<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="https://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="https://wellformedweb.org/CommentAPI/"
	xmlns:dc="https://purl.org/dc/elements/1.1/"
	xmlns:atom="https://www.w3.org/2005/Atom"
	xmlns:sy="https://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="https://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Dermasolution</title>
	<atom:link href="https://www.dermasolutions.co.in/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.dermasolutions.co.in</link>
	<description>Skin and Hair Clinic</description>
	<lastBuildDate>Mon, 12 Nov 2018 05:26:30 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.9</generator>
	<item>
		<title>PLATELET GROWTH FACTORS AND HAIR STEM CELLS</title>
		<link>https://www.dermasolutions.co.in/platelet-growth-factors-hair-stem-cells/</link>
		<comments>https://www.dermasolutions.co.in/platelet-growth-factors-hair-stem-cells/#respond</comments>
		<pubDate>Sat, 14 Apr 2018 05:59:11 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Blog]]></category>

		<guid isPermaLink="false">https://www.dermasolutions.co.in/?p=278</guid>
		<description><![CDATA[<p>Growth factors derived from plasma for tissue repair and healing process of ulcers and wounds was already documented. The action of growth factors on the germination<span class="excerpt-hellip"> […]</span></p>
<p>The post <a rel="nofollow" href="https://www.dermasolutions.co.in/platelet-growth-factors-hair-stem-cells/">PLATELET GROWTH FACTORS AND HAIR STEM CELLS</a> appeared first on <a rel="nofollow" href="https://www.dermasolutions.co.in">Dermasolution</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>Growth factors derived from plasma for tissue repair and healing process of ulcers and wounds was already documented.<br />
The action of growth factors on the germination Hair cycle has been studied in embryological and adult phases.<br />
PRP has been used in several clinical studies for stimulating angiogenesis and cell proliferation and improve healing.<br />
The growth factors contained in platelets of blood plasma are basically three:<br />
Platelet derived growth factor (PDGF)<br />
Transforming growth factor (TGF)<br />
Vascular Endothelial growth factor (VEGF)<br />
PRP induces proliferation of dermal papilla cells (DP) cells.<br />
Protects DP cells from apoptosis<br />
Increases cell growth and prolongs survival of hair follicles<br />
PRP may prolong the Anagen phase of hair cycle.<br />
Growth factors act in the bulge area, where stem cells are found and they interact with cells of matrix activating proliferative phase of hair.</p>
<p>The post <a rel="nofollow" href="https://www.dermasolutions.co.in/platelet-growth-factors-hair-stem-cells/">PLATELET GROWTH FACTORS AND HAIR STEM CELLS</a> appeared first on <a rel="nofollow" href="https://www.dermasolutions.co.in">Dermasolution</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://www.dermasolutions.co.in/platelet-growth-factors-hair-stem-cells/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Hair Cosmetics</title>
		<link>https://www.dermasolutions.co.in/hair-cosmetics/</link>
		<comments>https://www.dermasolutions.co.in/hair-cosmetics/#respond</comments>
		<pubDate>Mon, 02 Apr 2018 07:27:44 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Blog]]></category>

		<guid isPermaLink="false">https://www.dermasolutions.co.in/?p=275</guid>
		<description><![CDATA[<p>Hair shampoos: to remove sebum and environmental dirt without decreasing cosmetic appearance of hair Shampoos are expected to improve the hair cosmetically, while being tailored to<span class="excerpt-hellip"> […]</span></p>
<p>The post <a rel="nofollow" href="https://www.dermasolutions.co.in/hair-cosmetics/">Hair Cosmetics</a> appeared first on <a rel="nofollow" href="https://www.dermasolutions.co.in">Dermasolution</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>Hair shampoos: to remove sebum and environmental dirt without decreasing cosmetic appearance of hair<br />
Shampoos are expected to improve the hair cosmetically, while being tailored to the needs of various hair types as well as age and indivual habits.<br />
Hair conditioners: to improve hair manageability, decreasing hair static electricity, add lustre and enhance styling ease<br />
Hairstyling aids: to maintain hair in fashionable arrangement while improving the quality of hair fibres<br />
Hair dyes : to lighten or darken hair colour while covering gray hair<br />
Permanent hair waving/straightening : to reposition hair keratin disulfide bonfs in a new curly or straight position</p>
<p>The post <a rel="nofollow" href="https://www.dermasolutions.co.in/hair-cosmetics/">Hair Cosmetics</a> appeared first on <a rel="nofollow" href="https://www.dermasolutions.co.in">Dermasolution</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://www.dermasolutions.co.in/hair-cosmetics/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Low Level Laser Therapy (LLLT)</title>
		<link>https://www.dermasolutions.co.in/low-level-laser-therapy-lllt/</link>
		<comments>https://www.dermasolutions.co.in/low-level-laser-therapy-lllt/#respond</comments>
		<pubDate>Mon, 02 Apr 2018 07:09:30 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Blog]]></category>

		<guid isPermaLink="false">https://www.dermasolutions.co.in/?p=273</guid>
		<description><![CDATA[<p>The ability of lasers to induce hair growth was incidentally noted as early as 1967 when Mester et al used LLLT to treat cancer in mice<span class="excerpt-hellip"> […]</span></p>
<p>The post <a rel="nofollow" href="https://www.dermasolutions.co.in/low-level-laser-therapy-lllt/">Low Level Laser Therapy (LLLT)</a> appeared first on <a rel="nofollow" href="https://www.dermasolutions.co.in">Dermasolution</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>The ability of lasers to induce hair growth was incidentally noted as early as 1967 when Mester et al used LLLT to treat cancer in mice and excessive hair growth happened to them.<br />
Increased ATP production and modulation of reactive oxygen species (ROS) induced cell stimulation.<br />
Hairmax Laser comb in 2007 got clearance from FDA for Male pattern baldness and 2011 for treatment of Female pattern hair loss.<br />
655 nm wavelength shows improvement in intermediate Alopecias since effective photobiostimulation depends upon minimum number of hair present.<br />
Moreover, combining LLLT with topical Minoxidil and oral finasteride may act synergistic to enhance hair regrowth.<br />
Due to the known beneficial effect on wound healing, it is conceivable that LLLT as an adjunctive therapy in hair transplant surgery may also reduce postoperative shedding, reduce healing time and increased graft patency.</p>
<p>The post <a rel="nofollow" href="https://www.dermasolutions.co.in/low-level-laser-therapy-lllt/">Low Level Laser Therapy (LLLT)</a> appeared first on <a rel="nofollow" href="https://www.dermasolutions.co.in">Dermasolution</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://www.dermasolutions.co.in/low-level-laser-therapy-lllt/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>POOR HAIR GROWTH</title>
		<link>https://www.dermasolutions.co.in/poor-hair-growth/</link>
		<comments>https://www.dermasolutions.co.in/poor-hair-growth/#respond</comments>
		<pubDate>Mon, 02 Apr 2018 07:07:32 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Blog]]></category>

		<guid isPermaLink="false">https://www.dermasolutions.co.in/?p=271</guid>
		<description><![CDATA[<p>Depends upon lot of factors 0. Technique of graft dessication in FUT 0. Rough handling of graft 0. Prolonged out of body time 0. Sterile folliculitis<span class="excerpt-hellip"> […]</span></p>
<p>The post <a rel="nofollow" href="https://www.dermasolutions.co.in/poor-hair-growth/">POOR HAIR GROWTH</a> appeared first on <a rel="nofollow" href="https://www.dermasolutions.co.in">Dermasolution</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>Depends upon lot of factors<br />
0. Technique of graft dessication in FUT<br />
0. Rough handling of graft<br />
0. Prolonged out of body time<br />
0. Sterile folliculitis which might be due to ingrown hairs, foreign body reaction or piggy backed graft insertion<br />
0. Dense placement of grafts more than 50-60 grafts/sq cm leading to ischemia and necrosis of recipient area<br />
0. Unsterile operating theatre conditions<br />
0. Implantation over already existing hairs resulting in shock loss<br />
0. Patient not taking proper post operative care<br />
0. Improper usage of post operative medicines which are essential for growth<br />
0. Grafts aren’t preserved properly</p>
<p>The post <a rel="nofollow" href="https://www.dermasolutions.co.in/poor-hair-growth/">POOR HAIR GROWTH</a> appeared first on <a rel="nofollow" href="https://www.dermasolutions.co.in">Dermasolution</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://www.dermasolutions.co.in/poor-hair-growth/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>FUE is best choice in following cases</title>
		<link>https://www.dermasolutions.co.in/fue-best-choice-following-cases-2/</link>
		<comments>https://www.dermasolutions.co.in/fue-best-choice-following-cases-2/#respond</comments>
		<pubDate>Mon, 02 Apr 2018 07:05:33 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Blog]]></category>

		<guid isPermaLink="false">https://www.dermasolutions.co.in/?p=269</guid>
		<description><![CDATA[<p>0. Patient wants to have least painful post operative course 0. 2. Patient scalp donor area is very inelastic 0. 3. Patient wants to keep hair<span class="excerpt-hellip"> […]</span></p>
<p>The post <a rel="nofollow" href="https://www.dermasolutions.co.in/fue-best-choice-following-cases-2/">FUE is best choice in following cases</a> appeared first on <a rel="nofollow" href="https://www.dermasolutions.co.in">Dermasolution</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>0. Patient wants to have least painful post operative course<br />
0. 2. Patient scalp donor area is very inelastic<br />
0. 3. Patient wants to keep hair short ( buzz cut) which is very popular nowadays to avoid scar<br />
0. 4. Patient had donor area healing problem from previous strip or FUT surgery<br />
0. 5. Patient wants to resume his daily activities soon after the procedure like gymming etc<br />
0. 6. Where body hairs need to be extracted<br />
0. 7. Where finer hairs needs to be selected for hairline or eyebrow restoration<br />
0. 8. Repairing post strip or FUT donor scar area<br />
0. 9. Patient has a history of keloid or hypertrophic scarring<br />
0. Patient has low donor density</p>
<p>The post <a rel="nofollow" href="https://www.dermasolutions.co.in/fue-best-choice-following-cases-2/">FUE is best choice in following cases</a> appeared first on <a rel="nofollow" href="https://www.dermasolutions.co.in">Dermasolution</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://www.dermasolutions.co.in/fue-best-choice-following-cases-2/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>SUCCESSFUL HAIR TRANPLANT</title>
		<link>https://www.dermasolutions.co.in/successful-hair-tranplant/</link>
		<comments>https://www.dermasolutions.co.in/successful-hair-tranplant/#respond</comments>
		<pubDate>Mon, 02 Apr 2018 07:03:29 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Blog]]></category>

		<guid isPermaLink="false">https://www.dermasolutions.co.in/?p=267</guid>
		<description><![CDATA[<p>Depends upon lot of factors like good communication between patient and surgeon, careful clinical and lab evaluation, properly trained surgical team, decrease rate of any unforeseen<span class="excerpt-hellip"> […]</span></p>
<p>The post <a rel="nofollow" href="https://www.dermasolutions.co.in/successful-hair-tranplant/">SUCCESSFUL HAIR TRANPLANT</a> appeared first on <a rel="nofollow" href="https://www.dermasolutions.co.in">Dermasolution</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>Depends upon lot of factors like good communication between patient and surgeon, careful clinical and lab evaluation, properly trained surgical team, decrease rate of any unforeseen complications, careful selection of technique, appropriate hairline design, proper post operative care by patient and last but not the least rigorous follow up consultations.</p>
<p>The post <a rel="nofollow" href="https://www.dermasolutions.co.in/successful-hair-tranplant/">SUCCESSFUL HAIR TRANPLANT</a> appeared first on <a rel="nofollow" href="https://www.dermasolutions.co.in">Dermasolution</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://www.dermasolutions.co.in/successful-hair-tranplant/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>COSMETICALLY UNACCEPTABLE RESULTS</title>
		<link>https://www.dermasolutions.co.in/cosmetically-unacceptable-results/</link>
		<comments>https://www.dermasolutions.co.in/cosmetically-unacceptable-results/#respond</comments>
		<pubDate>Mon, 02 Apr 2018 07:00:15 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Blog]]></category>

		<guid isPermaLink="false">https://www.dermasolutions.co.in/?p=265</guid>
		<description><![CDATA[<p>Insertion of thicker grafts, unaesthetic hairline design, failure to anticipate future hair loss during planning, hairline restoration resulting in unnatural appearance as the patient age increases<span class="excerpt-hellip"> […]</span></p>
<p>The post <a rel="nofollow" href="https://www.dermasolutions.co.in/cosmetically-unacceptable-results/">COSMETICALLY UNACCEPTABLE RESULTS</a> appeared first on <a rel="nofollow" href="https://www.dermasolutions.co.in">Dermasolution</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>Insertion of thicker grafts, unaesthetic hairline design, failure to anticipate future hair loss during planning, hairline restoration resulting in unnatural appearance as the patient age increases ( large bald areas between lateral aspect of parietal hairline and temporal peak caused by recession of temporal areas) can lead to improper results.<br />
Transplant in crown areas in young indivual result in circular or oval area of transplanted hairs growing surrounded by rim of baldness.<br />
As age advances, crown area baldness starts increasing. Hairline can be corrected by placement of 1 and 2 hair follicle unit or graft placed in proper direction to create an irregularly irregular hairline and gradually increasing density in the centre and inserting few grafts beyond the border of existing hairs so that merging is possible.</p>
<p>The post <a rel="nofollow" href="https://www.dermasolutions.co.in/cosmetically-unacceptable-results/">COSMETICALLY UNACCEPTABLE RESULTS</a> appeared first on <a rel="nofollow" href="https://www.dermasolutions.co.in">Dermasolution</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://www.dermasolutions.co.in/cosmetically-unacceptable-results/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>FUE is best choice in following cases</title>
		<link>https://www.dermasolutions.co.in/fue-best-choice-following-cases/</link>
		<comments>https://www.dermasolutions.co.in/fue-best-choice-following-cases/#respond</comments>
		<pubDate>Mon, 02 Apr 2018 06:57:32 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Blog]]></category>

		<guid isPermaLink="false">https://www.dermasolutions.co.in/?p=263</guid>
		<description><![CDATA[<p>0. Patient wants to have least painful post operative course 0. 2. Patient scalp donor area is very inelastic 0. 3. Patient wants to keep hair<span class="excerpt-hellip"> […]</span></p>
<p>The post <a rel="nofollow" href="https://www.dermasolutions.co.in/fue-best-choice-following-cases/">FUE is best choice in following cases</a> appeared first on <a rel="nofollow" href="https://www.dermasolutions.co.in">Dermasolution</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>0. Patient wants to have least painful post operative course<br />
0. 2. Patient scalp donor area is very inelastic<br />
0. 3. Patient wants to keep hair short ( buzz cut) which is very popular nowadays to avoid scar<br />
0. 4. Patient had donor area healing problem from previous strip or FUT surgery<br />
0. 5. Patient wants to resume his daily activities soon after the procedure like gymming etc<br />
0. 6. Where body hairs need to be extracted<br />
0. 7. Where finer hairs needs to be selected for hairline or eyebrow restoration<br />
0. 8. Repairing post strip or FUT donor scar area<br />
0. 9. Patient has a history of keloid or hypertrophic scarring<br />
0. Patient has low donor density</p>
<p>The post <a rel="nofollow" href="https://www.dermasolutions.co.in/fue-best-choice-following-cases/">FUE is best choice in following cases</a> appeared first on <a rel="nofollow" href="https://www.dermasolutions.co.in">Dermasolution</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://www.dermasolutions.co.in/fue-best-choice-following-cases/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Shock Loss</title>
		<link>https://www.dermasolutions.co.in/shockloss/</link>
		<comments>https://www.dermasolutions.co.in/shockloss/#respond</comments>
		<pubDate>Tue, 06 Feb 2018 07:51:05 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Blog]]></category>

		<guid isPermaLink="false">https://www.dermasolutions.co.in/?p=219</guid>
		<description><![CDATA[<p>Shock Loss is a unprecedented side effect which can happen after hair transplant surgical procedure, that should be spoken about before you undergo a hair transplant.<span class="excerpt-hellip"> […]</span></p>
<p>The post <a rel="nofollow" href="https://www.dermasolutions.co.in/shockloss/">Shock Loss</a> appeared first on <a rel="nofollow" href="https://www.dermasolutions.co.in">Dermasolution</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>Shock Loss is a unprecedented side effect which can happen after hair transplant surgical procedure, that should be spoken about before you undergo a hair transplant. While it is a rare occurrence, it occurs in approximately 5% of all cases. </p>
<p>The post <a rel="nofollow" href="https://www.dermasolutions.co.in/shockloss/">Shock Loss</a> appeared first on <a rel="nofollow" href="https://www.dermasolutions.co.in">Dermasolution</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://www.dermasolutions.co.in/shockloss/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Cellulite reduction</title>
		<link>https://www.dermasolutions.co.in/cellulite-reduction/</link>
		<comments>https://www.dermasolutions.co.in/cellulite-reduction/#respond</comments>
		<pubDate>Tue, 06 Feb 2018 07:32:13 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[slimming]]></category>

		<guid isPermaLink="false">https://www.dermasolutions.co.in/?p=213</guid>
		<description><![CDATA[<p>Cellulite is a common concern for many women. It is caused by fibrous bands that travel between fat cells from the skin surface and attach to<span class="excerpt-hellip"> […]</span></p>
<p>The post <a rel="nofollow" href="https://www.dermasolutions.co.in/cellulite-reduction/">Cellulite reduction</a> appeared first on <a rel="nofollow" href="https://www.dermasolutions.co.in">Dermasolution</a>.</p>
]]></description>
				<content:encoded><![CDATA[<p>Cellulite is a common concern for many women.  It is caused by fibrous bands that travel between fat cells from the skin surface and attach to the underlying muscle. This creates a rippled or bumpy appearance to the skin surface.</p>
<p>The post <a rel="nofollow" href="https://www.dermasolutions.co.in/cellulite-reduction/">Cellulite reduction</a> appeared first on <a rel="nofollow" href="https://www.dermasolutions.co.in">Dermasolution</a>.</p>
]]></content:encoded>
			<wfw:commentRss>https://www.dermasolutions.co.in/cellulite-reduction/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
